<!DOCTYPE html>
<html>
	<head>
		<title>Technolamy</title>
		<link rel = "stylesheet" href = "main2.css"/>
		<link rel = "stylesheet" href = "{{url_for('static',filename='css/final.css')}}"/>
		<style>
			@font-face {
    	font-family: chathura;
    	src: url("{{url_for('static', filename='fonts/Chathura Bold.ttf')}}");
    	font-weight: lighter;
}
			@font-face {
    	font-family: dejavusans;
    	src: url("{{url_for('static', filename='fonts/DejaVuSansCondensed-Bold.ttf')}}");
    	font-weight: lighter;
}
		</style>
	</head>
	<body>
		<div class = "frame">
			<div class="header">
				<div class="phone">{{details['phone_name']}}&nbsp;</div>
				<div class="price">({{details['price']}})</div>
			</div>
			<div class="photo-place">
				<div class="pros-title">PROS</div>
				<div class="image-box">
					<img src="{{url_for('static', filename='images/motorola-moto-g42-r-removebg-preview.png')}}" alt="image here"/>
				</div>
				<div class="cons-title">CONS</div>
			</div>
			<div class="table">
				<div class = "pros">
					<ul>
						{% for pro in details['pros'] %}
							<li>{{pro}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class= "cons">
					<ul>
						{% for con in details['cons'] %}
							<li>{{con}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="recommended">{{details['recommended']}}</div>
			<div class="verdict">{{details['verdict']}}</div>
			<form class = "hashtag" action = "{{url_for('home')}}" method = "post">
				<textarea rows="4" cols="50" name = "hashtags">{{hashtags}}</textarea>
				<button type="submit">Finalize</button>
			</form>
		</div>
	</body>
</html>